In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("data/air_quality_no2_long.txt")

In [10]:
df.columns

Index(['city', 'country', 'date.utc', 'location', 'parameter', 'value',
       'unit'],
      dtype='object')

In [12]:
df["datetime"] = pd.to_datetime(df["date.utc"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2068 entries, 0 to 2067
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   city       2068 non-null   object
 1   country    2068 non-null   object
 2   date.utc   2068 non-null   object
 3   location   2068 non-null   object
 4   parameter  2068 non-null   object
 5   value      2068 non-null   float64
 6   unit       2068 non-null   object
 7   datetime   2068 non-null   datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(1), object(6)
memory usage: 129.4+ KB

In [13]:
df.index = df["datetime"]

In [22]:
df.resample(rule="H").mean()

                               value
datetime
2019-05-07 01:00:00+00:00  32.833333
2019-05-07 02:00:00+00:00  30.566667
2019-05-07 03:00:00+00:00  34.700000
2019-05-07 04:00:00+00:00  38.950000
2019-05-07 05:00:00+00:00  72.400000
...                              ...
2019-06-20 20:00:00+00:00  21.400000
2019-06-20 21:00:00+00:00  24.900000
2019-06-20 22:00:00+00:00  26.500000
2019-06-20 23:00:00+00:00  21.800000
2019-06-21 00:00:00+00:00  20.000000

[1080 rows x 1 columns]